.btn_cr_1 {
  background-color: #59c192;
  height: 40px;
  width: 150px;

  margin-left: 30px;

  border-radius: 15px;
  border-style: none;

  color: white;
  font-size: x-large;
}

.btn_cr_2 {
  background-color: #ff5819;
  height: 40px;
  width: 190px;

  border-radius: 15px;
  border-style: none;

  color: white;
  font-size: x-large;
}
.h2 {
  color: #478770;
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}
.ul {
  list-style: none;
}

.li {
  margin: 5px;
  color: #59c192;
}

.list {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.name {
  height: 40px;
  width: 170px;
  display: inline-block;
  border-color: #59c192;
}

.surname {
  height: 40px;
  width: 200px;
  display: inline-block;
  border-color: #59c192;
}

.city {
  height: 40px;
  width: 170px;
  display: inline-block;
  border-color: #59c192;
}

.status {
  height: 40px;
  width: 170px;
  display: inline-block;
  border-color: #59c192;
}