nav {
    display: flex;
    justify-content: end;
    align-items: end;
    padding-top: 50px;
    position: relative;
  }
  
  .nav_container {
    display: flex;
    position: relative;
    overflow: hidden; /* Evita que las pestañas se desborden */
  }
  
  .nav_tab {
    height: 50px;
    width: 500px;
    border-radius: 30px 0 0 0;
    position: relative;
    transition: all 0.3s ease;
    padding: 0 15px;
    white-space: nowrap; /* Evita el salto de línea */    
    display: flex;
    align-items: center;
    justify-content: center;
  }
.nav_tab_1 {
    background-color: #75E1B1;
    z-index: 1;
  }
  
  .nav_tab_2 {
    background-color: #A8F3D8;
    z-index: 2;
    margin-left: -100px; /* Ajusta este valor para superponer las pestañas */
  }
  
  .nav_tab_3 {
    background-color: white;
    z-index: 3;
    margin-left: -130px;
    color:#59C192;
    font-size:25px;
    font-weight: bold ;

    
  }
  